.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/.quarto/
# Ignore Quarto cache and temp build outputs
*_cache/
*.log
*.aux
*.out

# Ignore _files from source qmds
*_files/

# But keep the rendered site outputs in docs/
!docs/*_files/
!docs/*_files/**
